*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

:root{
  --marquee-width:90vw;
  --marquee-height:20vh;
  --marquee-element-displayed: 6;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-element-displayed));
  --marquee-animation-duration : calc(var(--marquee-elements) * 3s);
}

.marquee{
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #1a1e23;
  color:#fff;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
}

.marquee::before, .marquee::after{
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::before{
  left: 0;
  background: linear-gradient(to right, #1a1e23 0%, transparent 100%);
}

.marquee::after{
  right: 0;
  background: linear-gradient(to left, #1a1e23 0%, transparent 100%);
}

.marquee-content{
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration);
}

.marquee-content:hover{
  animation-play-state: paused;
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*2/4);
  white-space: nowrap;
}

@keyframes scrolling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(
      calc(-1 * var(--marquee-element-width)* var(--marquee-elements))
    );
  }
}